# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\popcorn\Desktop\0\UniTo\Tesi\Pugliese\Modelli Probabilistici\Sellke\.idea/dataSources/
/dataSources.local.xml
